* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000957;
    height: 100vh;
}

/* .page {
     height: 100vh; 
     margin: 0% 5% 0% 5%; 
} */

#header-home-background {
    background-image: url("/assets/images/Projects/blue-wood-pattern-1.jpg");
}

/*========================NAVBAR SECTION===============================*/
#header nav {
    display: flex;
    align-items: center;
    height: 100px;
}

#header .header-container {
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0% 5% 0% 5%;
}

#header .header-container .logo span {
    color: #FFEB00;
}

#header .header-container h1 {
    color: #F6F1F1;
    font-size: 2em;
    width: 30%;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

#header .header-container .normal {
    font-size: 1.5em;
    list-style: none;
    width: 70%;
    justify-content: flex-end;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#header .header-container ul {
    display: flex;
}

#header .header-container ul li a {
    color: #F6F1F1;
    padding: 35px 35px;
    background-clip: padding-box;
    transition: 0.2s ease-in;
}

#header .header-container ul li a:hover {
    /* color: #FFEB00;
    background-color: rgb(52, 76, 183, 0.8); */
    color: #000957;
    background-color: rgb(255, 235, 0, 0.8);
}

#header .header-container ul li a:visited {
    text-decoration: none; /* to remove the underline on an anchor tag (the navbar buttons) */
}

/*========================HOME SECTION===============================*/
/* .gradient-background {
    background: linear-gradient(300deg, #FFEB00,  #344CB7);
    background-size: 260% 100%;
    animation: gradient-animation 0.2s ease infinite;
} */

#home .home-container {
    display: flex;
    height: 600px;
    /* margin-top: 2%; */
    /* background-color: rgb(52, 76, 183, 0.4); */
    /* border-radius: 25px 0px 0px 25px; */
}

#home .home-container .home-text {
    width: 55%; /*it used to be 55% if i were to insert a picture of my Prorotype instead*/
    /* background-color: rgb(52, 76, 183, 0.4); */
    /* background-image: url("/assets/images/Projects/blue-wood-pattern-1.jpg"); */
}

#home .home-container .home-text h2 {
    font-size: 1.8em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

#home .home-container .home-text {
    font-size: 1.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 50px 50px 0px 190px; /*it used to be 20px 0px 20px 55px*/
    text-align: left;
}

#home .home-container .home-img {
    width: 45%; /*it used to be 45% if i were to insert a picture of my Prorotype instead*/
    align-content: center;
}

#home .home-container .home-img img {
    width: 95%;
    border-radius: 35px;
}

/*========================DESIGN SECTION===============================*/
#design .design-container {
    /* margin-top: 40px; */
    margin: 40px 5% 0% 5%;
}

#design .design-container h2 {
    font-size: 3.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-align: center;
}

#design .design-container p {
    font-size: 1.3em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 0px 10px 15px;
    text-align: center;
    padding: 0px 100px 0px 100px;
}


#design .design-container .design-images {
    margin-top: 30px;
    display: flex;
}

#design .design-container .design-images .left {
    width: 45%;
}

#design .design-container .design-images .left img {
    width: 80%;
    margin-left: 50px;
    transition: 0.2s ease-in;
}

#design .design-container .design-images .left img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-out;
}

#design .design-container .design-images .right {
    width: 55%;
    padding-right: 20px;
    align-content: center;
}

#design .design-container .design-images .right img {
    width: 100%;
    border-radius: 25px;
    /* object-fit: cover; */
    transition: 0.2s ease-in;
}

#design .design-container .design-images .right img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-out;
}

/*========================COMPONENTS SECTION===============================*/
#components .components-container {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
}

#components .components-container h2 {
    font-size: 2.4em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    text-align: center;
    margin-top: 5%;
}

#components .components-container .components-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

#components .components-container .components-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

#components .components-container .components-detail {
    width: 25%;
}

#components .components-container .components-detail img {
    width: 60%;
    border-radius: 70%;
    transition: 0.2s ease-in;
}

#components .components-container .components-detail img:hover {
    /* border: 3px solid #FFEB00; */
    box-shadow: 0px 0px 5px 5px #FFEB00;
}

#components .components-container .components-detail h3 {
    font-size: 1.3em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 0px 10px 15px;
    text-align: center;
    padding: 0px 100px 0px 100px;
}

#components .components-container .components-detail p {
    font-size: 1em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 0px 10px 15px;
    text-align: center;
    padding: 0px 100px 0px 100px;
    margin-top: 5%;
}

/*========================FEATURES SECTION===============================*/
#features .features-container {
    margin: 40px 5% 0% 0%;
}

#features .features-container h2 {
    font-size: 3.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#features .features-container .features-box {
    display: flex;
    flex-direction: row;
    background-color: #FFEB00;
    border-radius: 0px 60px 60px 0px;
    /* box-shadow: 0px 0px 25px #FFEB00; */
    box-shadow: 13px 13px 0px rgb(87, 123, 193, 0.5);
}

#features .features-container .features-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 0px 20px 20px;
    margin-left: 5%;
}

#features .features-container .features-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 0px 20px 20px;
}

#features .features-container .features-detail {
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-in;
}

#features .features-container .features-detail:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
}

#features .features-container .features-detail img {
    border-radius: 40px 0px 0px 40px;
    width: 17%;
    margin-top: 20px;
    box-shadow: 0px 5px 0px rgb(0, 9, 87, 0.5);
}

#features .features-container .features-detail h3 {
    height: 150px; /*so that the bg color only apply to the h3 text, not the whole h3 block*/
    background-color: rgb(52, 76, 183, 1);
    transition: 0.2s ease-in;
    margin-top: 20px;
    border-radius: 0px 40px 40px 0px;
    margin-right: 20px;
    box-shadow: 0px 5px 0px rgb(0, 9, 87, 0.5);

    font-size: 1.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    align-content: center;
    padding: 0px 15px 0px 15px;
}

#features .features-container .features-detail h3:hover {
    background-color: rgb(16, 55, 230, 1);
    transition: 0.2s ease-out;
}

/*========================RESULT SECTION===============================*/
#result .result-container {
    margin: 40px 13% 0% 13%;
}

#result .result-container h2 {
    font-size: 3.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#result .result-container .result-box {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

#result .result-container .result-box .result-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content; /*so that the div box isn't larger than the content*/
    margin-top: 20px;
    background-color: #344CB7;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 7px 5px 0px #FFEB00;
    transition: 0.2s ease-out;
}

#result .result-container .result-box .result-card:hover {
    box-shadow: 0px 10px 15px 10px #FFEB00;
    /* box-shadow: 7px 5px 0px #000957; */
    /* border: 1px solid #FFEB00; */
}

#result .result-container .result-box .result-card img {
    width: 100%;
}

#result .result-container .result-box .result-card h3 {
    font-size: 1.5em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    padding: 20px 0px 5px 15px;
    /* background-color: #344CB7; */
}

#result .result-container .result-box .result-card p {
    font-size: 1em;
    color: #F6F1F1;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 15px 15px 15px;
    text-align: left;
    /* background-color: #344CB7; */
    /* border-radius: 0px 0px 25px 25px; */
}

/*=====================BACK-TO-TOP BUTTON======================*/
.back-to-top {
    display: flex;
    color: #344CB7;
    justify-content: flex-end;
    transition: 0.2s ease-out;
}

.back-to-top span {
    padding: 20px;
    color: #FFEB00;
    background-color: #344CB7;
    border-radius: 10px;
    margin: 0px 50px 25px 0px;
    transition: 0.2s ease-out;
}

.back-to-top span:hover {
    color: #344CB7;
    background-color: #FFEB00;
    transform: translateY(-5px);
}

/*=====================FOOTER======================*/
#footer .footer-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#footer .footer-container footer {
    color: #DDDDDD;
}