* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.3s;
    text-decoration: none;
}

body {
    background-color: #222831;
}

.page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.page .container {
    width: 95%;
    margin: auto;
}

.page .container .title {
    color: #DDDDDD;
    font-size: 2.5rem;
}

.page .container .title span {
    color: #F05454;
}

.page .container .nav-btn a {
    color: #DDDDDD;
    font-size: 1.5rem;
    font-weight: 200px;
    text-transform: capitalize;
    margin-left: 40px;
    margin-right: 60px;
}

.page .container .nav-btn a:hover, .page .container .nav-btn a.current {
    color: #F05454;
}

.page .container .nav-btn a:active {
    color: #EB8317;
}

.page .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.page .about .photo {
    width: 40%;
    height: 20%;
}

.page .about .photo a img {
    width: 100%;
    border: 2px solid #F05454;
    object-fit: contain;
    border-radius: 10%;
}

.page .about .photo a img:hover {
    outline: 2px solid #DDDDDD;
    box-shadow: 0px 0px 20px #F05454;
}

.page .about .content-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; jika ingin spacing antara div dlm flexbox content-1 ini maka uncomment this line*/
    margin-left: 3.5%;
}

.page .about .title-1 {
    color: #DDDDDD;
    font-size: 35px;
}

.page .about .paragraph {
    width: 90%;
    color: #DDDDDD;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}

.page .hobbies {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 60px;
}

.page .hobbies .hobbies-box {
    display: flex;
    flex-direction: row;
}

.part {
    width: 25%;
    background-color: rgb(240,84,84,0.8);
    margin-right: 2px;
}

.part:hover {
    outline: 1px solid #DDDDDD;
    box-shadow: 0px 0px 15px #F05454;
    background-color: #F05454;
}

.page .hobbies .hobbies-box .title-2 {
    height: 200px;
    background-color: #30475E;
    border-radius: 5% 0% 0% 5%;
}

.page .hobbies .hobbies-box .title-2 h2 {
    color: #F05454;
    font-size: 50px;
    text-align: center;
    margin: 80px 20px 80px 20px;
}

.page .hobbies .hobbies-box .part-title {
    color: #DDDDDD;
    text-transform: capitalize;
    font-size: 22px;
    height: 25px;
    margin-left: 219px;
    margin-top: 26px;
}

.page .hobbies .hobbies-box img {
    width: 200px;
    height: 180px;
    float: left;
    margin: 8px 5px 5px 5px;
    object-fit: contain;
    border-radius: 25%;
}

.page .hobbies .hobbies-box p {
    padding: 10px 10px 15px 10px;
    text-align: justify;
    font-weight: 600;
    margin-left: 211px;
    margin-right: 0px;
}

.left {
    float: left;
}

.middle {
    float: left;
}

.right {
    float: right;
    border-radius: 0% 5% 5% 0%;
}


@media (max-width: 680px) {
    .page nav {
        display: block;
        height: 60px;
    }

    .page .container .title {
        color: #DDDDDD;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 3px;
    }
    
    .page .container .nav-btn {
        margin-top: 15px;
    }

    .page .container .nav-btn a {
        color: #DDDDDD;
        font-size: 20px;
        font-weight: 200px;
        text-transform: capitalize;
        margin-left: 3px;
        margin-right: 10px;
    }

    .page .about {
        display: block;
    }

    .page .about .content-1 {
        /* justify-content: space-between; jika ingin spacing antara div dlm flexbox content-1 ini maka uncomment this line*/
        margin: 2% 1.5% 0% 1.5%;
    }

    .page .about .title-1 {
        color: #DDDDDD;
        font-size: 22.5px;
    }

    .page .about .paragraph {
        font-size: 15px;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .page .hobbies .hobbies-box {
        display: flex;
        flex-direction: column;
    }

    .part {
        width: 100%;
        margin: 0px;
    }

    .page .hobbies .hobbies-box .title-2 {
        height: 50px;
        border-radius: 15% 15% 0% 0%;
    }
    
    .page .hobbies .hobbies-box .title-2 h2 {
        color: #F05454;
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
    }

    .page .hobbies .hobbies-box .part-title {
        font-size: 18px;
        height: 25px;
        margin-left: 220px;
        margin-top: 26px;
    }

    .page .hobbies .hobbies-box p {
        padding: 0px 5px 0px 10px;
        text-align: left;
        font-size: 15px;
    }

    .right {
        float: right;
        border-radius: 0% 0% 7% 7%;
    }
}