* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.3s;
    text-decoration: none;
}

body {
    background-color: #222831;
}

.page .container {
    /*width: 95%;*/
    /*margin: auto;*/ 
    height: 100vh;
    margin: 0% 2.5% 0% 2.5%;
}

.page nav {
    display: flex;
    align-items: center;
    height: 150px;
}

.page .container .normal {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    width: 70%;
}

.page .container ul li {
    list-style-type: none;
}

.page .container ul li a {
    color: #DDDDDD;
    font-size: 1.5rem;
    font-weight: 200px;
    text-transform: capitalize;
    padding: 10px 5px;
}

.page .container ul .hamburger-menu {   /*--hide this hamburger-menu button on anything >= desktop screen size*/
    display: none;
    /*transition: 0.2s; /*--apply transition when this class changes value on mobile, aka display from none to block*/
}

.page .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 300px;
    background-color: rgb(221,221,221,0.1);
    box-shadow: 0px 0px 10px #F05454;
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.page .sidebar li {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.page .container .sidebar li a {     /*--just to be safe--*/
    padding-right: 100%;
    border-radius: 0px;
    background-color: rgb(221,221,221,0);
    background-clip: padding-box;
}

.page .container .sidebar li:first-child {     /*--shift the top button--*/
    margin-top: 10px;
}

.page .container .sidebar li:last-child a {     /*--shift the X button--*/
    padding: 0px 0px 0px 15px;
}

.page .container .normal li a:hover, .page .container .normal li a.current {
    color: #F05454;
    background: rgb(221,221,221,0.1);
}

.page .container .sidebar li a:hover, .page .container .sidebar li a.current {
    color: #F05454;
    background-color: rgb(221,221,221,0.3);
}

.page .container .sidebar li a:hover {
    color: #F05454;
    background-color: rgb(221,221,221,0);
}

.page .container nav li a:active {
    color: #EB8317;
}

.page .container .title {
    color: #DDDDDD;
    font-size: 2.5rem;
    width: 30%;
}

.page .container .title span {
    color: #F05454;
}

.page .contact { /*--Contact Div--*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page .contact .content { /*--Content box--*/
    display: flex;
    flex-direction: column;
}

.page .contact .title { /*--Title box--*/
    color: #DDDDDD;
    font-size: 30px;
    width: 70%;
    margin-top: 7%;
}

.page .container .certificates-training {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8.5%;
}

.page .container .certificates-training .certificates-training-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4%;
}

.page .container .certificates-training .certificates-training-box .photo {
    width: 25%;
    margin-right: 3%;
}

.page .container .certificates-training .certificates-training-box .photo img {
    width: 100%;
    border: 2px solid #F05454;
    border-radius: 6%;
}

.page .container .certificates-training .certificates-training-box .photo img:hover {
    border: 2px solid #DDDDDD;
    box-shadow: 0px 0px 10px 5px #F05454;
}

.page .container .certificates-training .content {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.page .container .certificates-training .content .title {
    color: #DDDDDD;
    font-size: 16px;
} 

.page .container .certificates-training .content .description {
    color: #DDDDDD;
    font-size: 22px;
    margin-top: 15px;
} 

@media (max-width: 992px) {    /*--on laptop--*/
    .page nav {
        margin-bottom: 60px;
    }

    .page .container ul li a {
        font-size: 1.5rem;
        text-align: center;
        padding: 15px 20px;
    }
}

@media (max-width: 768px) {    /*--on mobile and ipad--*/
    .hideOn768px {
        display: none;
    }
    
    .page .container .title {
        color: #DDDDDD;
        font-size: 2.5rem;
        margin-top: 0px;
        margin-left: 3px;
        width: 100%;
    }
}

@media (max-width: 405px) {
    .page nav {
        height: 100px;
        margin-bottom: 0px;
    }

    .page .container .title {
        color: #DDDDDD;
        font-size: 1.33rem;
        margin-top: 0px;
        margin-left: 3px;
        width: 100%;
    }

    .page .container ul .hamburger-menu {   /*--hide this hamburger-menu button on anything >= desktop screen size*/
        display: block;
    }

    .page .sidebar {
        width: 100%;
    }

    .page .container .certificates-training {
        margin-top: 15%;
    }

    .page .container .certificates-training .certificates-training-box {
        display: block;
        margin-bottom: 8%;
    }

    .page .container .certificates-training .certificates-training-box .photo {
        width: 100%;
        margin-right: 0%;
    }

    .page .container .certificates-training .content {
        width: 100%;
    }

    .page .container .certificates-training .content .title {
        color: #DDDDDD;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    } 
    
    .page .container .certificates-training .content .description {
        color: #DDDDDD;
        font-size: 16.5px;
        margin-top: 15px;
        padding: 0px 10px 0px 10px;
        text-align: justify;
    } 
}
