* {
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: #243642;
    margin: 10px 60px 0px 60px;
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    border: 2px solid #f3f3e0;
    border-radius: 50%;
}

.main1 {
    flex: 1;
}

.main2 {
    flex: 1;
}
  
.main3 {
    flex: 1;
}
  
.main4 {
    flex: 1;
}

.main5 {
    flex: 1;
}

.part {
    width: 25%;
}

.left {
    float: left;
    margin-right: 12.5%;
}

.middle {
    float: left;
}

.right {
    float: right;
}

.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

h1  {
    color: #E2F1E7;
    text-align: center;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #387478;
    margin-bottom: 0px;
}

h2  {
    color: #E2F1E7;
    text-align: center;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;
}

h3  {
    text-align: center;
    text-transform: uppercase;
    font-family: "Rubik", serif;
    font-weight: 450;
    font-style: normal;
    color: #E2F1E7;
    background-color: #629584;
}

.poster-sizing {
    box-shadow: 0px 0px 15px 5px #387478;
    height: 550px;
    border-radius: 10%;
}

img:hover {
    box-shadow: 0px 0px 15px 15px #387478;
} /*glowing effects for when users hover the images*/

.paragraph-layout {
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;    
    font-style: normal;
    color: #F3F3E0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav .nav-btn a {
    color: #F3F3E0;
    text-transform: uppercase;
    font-family: "Rubik", serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 60px;
}

nav .nav-btn a:hover {
    color: #387478;
} 

@media (max-width: 680px) {
    body {
        margin: 5px 20px 0px 20px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    h3 {
        font-size: 14px;
        text-align: center;
    }
    
    .part {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }

    .part img {
        width: 100%;
        display: inline;
        object-fit: cover;
    }

    nav {
        display: block;
        height: 50px;
    }

    nav .nav-btn a {
        font-size: 20px;
        margin: 10px 0px 0px 20px;
    }
}